// Buttons
.button {
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 4px;

  &::after {
    content: '\f101';
    position: relative;
    top: 1px;
    margin-left: 5px;
    font: {
      family: FontAwesome;
      style: normal;
      size: rem-calc(16);
    }
  }

  &--white {
    background: $white;
    color: $blue;
  }
}

.download {
  display: inline-block;
  position: relative;

  .ajax-loader {
    display: none !important;
  }

  &::after {
    content: '\f101';
    color: $blue;
    position: absolute;
    top: 0.5rem;
    right: 1.6rem;
    font: {
      family: FontAwesome;
      style: normal;
      size: rem-calc(16);
    }
  }

  .button {
    padding: 0.85rem 2.75rem 0.75rem 1.5rem;
    border: none;
    box-shadow: none;
    font-weight: 700;

    &:hover {
      background: darken($white, 10%);
      color: $blue;
    }
  }
}
