main.about {
	section.about-content {
    padding: 9rem 0;

    @include breakpoint(mini down) {
      padding: 5rem 0;
    }

    .cta {
      padding-top: 1rem;

      @include breakpoint(mini down) {
        text-align: center;
        margin-bottom: 3rem;
      }
    }
  }
}
