main.contact {
	section.contact-us {
    padding: 9rem 0 4rem;
    text-align: center;

    @include breakpoint(mini down) {
      padding: 5rem 0 3rem;
    }

    .address {
      padding: 4rem 0 2rem;

      h3 {
        margin: 0;
      }

      p {
        margin: 0;
      }

      a {
        display: inline-block;
        margin-bottom: 0.5rem;
        font-weight: bold;

        &.phone {
          font-weight: normal;
          color: $black;
          transition: 0.2s;

          &:hover {
            color: $blue;
          }
        }
      }
    }

    .form-toggle {
      a {
        padding-bottom: 0.85rem;

        &::after {
          content: '\f107';
          position: relative;
          top: 2px;
          left: 1rem;
          display: inline-block;
          font-size: rem-calc(20);
          transition: 0.25s;
          transform-origin: 50% 50%;
        }

        &.rotate::after {
          transform: rotateX(180deg);
        }
      }
    }
  }

  section.form {
    padding: 0 0 6rem;
    display: none;

    form {
      padding-top: 0.75rem;

      input:not([type=submit]),
      textarea,
      .select2-selection {
        border: none;
        box-shadow: none;
        background: $clear;
        border-bottom: solid 1px $blue;
        text-transform: uppercase;
        letter-spacing: 2px;
        caret-color: $blue;
        color: $black;
        padding-left: 0;
        margin-bottom: 1.5rem;
        font: {
          size: rem-calc(13);
          style: italic;
          weight: 700;
        }

        @include breakpoint(medium down) {
          font-size: 16px;
        }

        &::-webkit-input-placeholder {
          color: $blue;
          letter-spacing: 4px;
        }
        &:-moz-placeholder {
          color: $blue;
          letter-spacing: 4px;
          opacity: 1;
        }
        &::-moz-placeholder {
          color: $blue;
          letter-spacing: 4px;
          opacity: 1;
        }
        &:-ms-input-placeholder {
          color: $blue;
          letter-spacing: 4px;
        }
      }

      textarea {
        padding: 1.33rem 0 0;
        height: 50px;
        transition: 0.2s;

        &.focused {
          height: 200px;
        }
      }

      .select2-container {
        display: block;
      }

      .select2-selection {
        border-radius: 0;
        text-transform: none;
        letter-spacing: 0;
        font: {
          size: 1.25rem;
          weight: 400;
        }

        .select2-selection__rendered {
          padding-left: 0;

          &#select2-trim_size-q9-container {
            @include breakpoint(medium down) {
              font-size: 16px;
            }
          }
        }
      }

      .trim_size {
        .select2-selection {
          height: 37px;
          text-transform: uppercase;
          font: {
            size: rem-calc(13);
            weight: 700;
          }

          .select2-selection__rendered {
            color: $blue;
            letter-spacing: 4px;
            padding-top: 0.25rem;
          }
        }
      }

      .select2-selection__arrow {
        top: 0;

        &::before {
          content: '\f107';
          color: $blue;
          font: {
            family: FontAwesome;
            style: normal;
            size: rem-calc(20);
          }
        }

        b {
          display: none;
        }
      }

      .what_genre {
        display: block;
        margin-top: 0.5rem;
      }

      h3 {
        color: $blue;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 3rem 0 1.5rem;
        font: {
          family: $nova;
          style: normal;
          size: rem-calc(18);
          weight: 700;
        }
      }

      h4 {
        border-bottom: solid $blue 1px;
        margin-bottom: 2rem;
        font: {
          size: rem-calc(20);
          style: italic;
        }

        &.no-margin {
          margin: 0 0 0.75rem;
        }
      }

      .wpcf7-checkbox {
        .wpcf7-list-item {
          display: block;
          margin: 0 0 1rem 2rem;

          input[type=checkbox] {
            margin: 0;
            display: none;
          }

          .wpcf7-list-item-label {
            text-transform: uppercase;
            position: relative;
            display: block;
            padding-left: 1.75rem;
            letter-spacing: 3px;
            color: $blue;
            font: {
              weight: 700;
              size: rem-calc(14);
              style: italic;
            }

            &::before {
              content: '';
              display: inline-block;
              position: absolute;
              left: 0;
              top: 3px;
              width: 14px;
              height: 14px;
              margin-right: 0.75rem;
              border: solid $blue 1px;
            }

            &.checked {
              &::before {
                background: $blue;
              }
            }
          }

          &.last {
            margin-bottom: 0.5rem;
          }
        }
      }

      .wpcf7-acceptance {
        @extend .wpcf7-checkbox;

        .wpcf7-list-item {
          margin-left: 0;

          .wpcf7-list-item-label {
            color: $black;
            text-transform: none;
            letter-spacing: 0;
            font: {
              size: rem-calc(20);
              weight: 400;
            }

            &::before {
              top: 9px;
            }
          }
        }
      }

      .other_service_needed,
      .other_elements_needed {
        display: inline-block;
        margin: 0 0 2rem 3.75rem;

        input {
          font-size: rem-calc(14);
        }
      }

      .what_format_do_you_need {
        margin-bottom: 3.5rem;
        display: block;
      }

      .additional_notes_comments {
        input {
          margin: 0.5rem 0 2rem;
        }
      }

      input[type=date] {
        color: $black;
        font: {
          weight: 400;
          size: rem-calc(14);
          style: italic;
        }

        &::before {
          content: attr(placeholder);
          letter-spacing: 0;
          text-transform: none;
          font-size: rem-calc(16) !important;
          width: 100%;
        }

        &.focused {
          &::before { display: none }
        }
      }

      .publishing_date {
        input[type=date] {
          color: $blue;

          @include breakpoint(medium down) {
            font-size: 16px;
          }

          &::before {
            text-transform: uppercase;
            letter-spacing: 3px;
            font: {
              size: rem-calc(13) !important;
              weight: 700;
            }

            @include breakpoint(medium down) {
              font-size: 16px !important;
            }
          }
        }
      }

      .submit-wrap {
        text-align: center;
        padding: 2rem 0 0;

        input {
          min-width: 180px;
        }
      }
    }
  }

  section.map {
    padding-top: 1rem;
    margin-bottom: 5rem;

    #wpgmza_map {
      float: none !important;
    }
  }
}

