footer.site-footer {
  background: $blue;
  padding: 1.5rem 0;

  .footer-block {
    display: flex;
    min-height: 35px;
    align-items: center;

    @include breakpoint(tablet down) {
      justify-content: center;
      padding: 1rem;
    }

    .logo img {
      height: rem-calc(33);
      margin-right: 2.5rem;
    }

    p, a {
      color: $white;
      letter-spacing: 1px;
      margin: 0;
      font: {
        size: rem-calc(13);
        weight: 700;
        style: italic;
      }
    }

    a {
      transition: 0.2s;

      &:first-child {
        margin-right: 1.5rem;
      }

      &:hover {
        color: darken($white, 15%);
      }
    }

    &.left {
      @include breakpoint(medium down) {
        flex-direction: column;

        .logo img {
          margin: 0 0 2rem;
        }
      }
    }

    &.right {
      justify-content: flex-end;

      @include breakpoint(tablet down) {
        justify-content: center;
      }

      @include breakpoint(small only) {
        flex-direction: column;

        a {
          &:first-child {
            margin: 0 0 2rem;
          }
        }
      }
    }
  }
}
