main.home {
  section.hero {
    height: 960px;
    background: {
      size: cover;
      position: center 95%;
    }

    @include breakpoint(1400 down) {
      height: 0;
      padding-bottom: 65%;
    }

    @include breakpoint(1080 down) {
      padding-bottom: 75%;
    }

    @include breakpoint(860 down) {
      padding-bottom: 85%;
    }

    @include breakpoint(mini down) {
      padding-bottom: 0;
      height: 520px;
    }

    .headings {
      padding-top: 20%;
      text-align: center;

      h1 {
        color: $blue;
        font-size: rem-calc(67);
        text-transform: uppercase;
        letter-spacing: 25px;
        margin: 0 0 0.25rem;
        line-height: 1;

        @include breakpoint(tablet down) {
          font-size: rem-calc(56);
        }

        @include breakpoint(medium down) {
          font-size: rem-calc(42);
          letter-spacing: 15px;
        }

        @include breakpoint(small only) {
          margin-left: 0.25rem;
        }
      }

      h3 {
        margin-left: 24rem;
        letter-spacing: 1.5px;

        @include breakpoint(tablet down) {
          margin-left: 20rem;
        }

        @include breakpoint(medium down) {
          font-size: rem-calc(20);
          letter-spacing: 0;
          margin-left: 13rem;
        }

        @include breakpoint(small only) {
          text-align: center;
          margin: 0;
          letter-spacing: 1px;
        }
      }
    }

    .cta {
      text-align: right;
      margin-top: 8rem;

      @include breakpoint(mini down) {
        margin-top: 6rem;
        text-align: center;
      }

      @include breakpoint(small only) {
        text-align: center;
      }
    }
  }

  section.featured-product {
    padding: 2rem 0 6rem;

    h5 {
      color: $blue;
      text-transform: uppercase;
      display: inline;
      letter-spacing: 2px;
      font: {
        weight: 700;
        style: normal;
        family: $nova;
        size: rem-calc(18);
      }
    }

    .content {
      margin-bottom: 9rem;

      &, p:first-child {
        display: inline;
      }

      @include breakpoint(mini down) {
        margin-bottom: 5rem;
      }

      p {
        margin: 1rem 0;
        font: {
          style: italic;
          size: rem-calc(18);
        }
      }
    }

    .image-slider {
      .image {
        margin-top: 8rem;

        @include breakpoint(mini down) {
          margin-top: 4rem;
        }

        img {
          margin: 0 auto;
        }
      }
    }
  }

  section.banner-form {
    padding: 5rem 0 1rem;
    color: $white;
    background: {
      size: cover;
      position: center;
    }

    h3 {
      padding-right: 7.25rem;
      font-size: 24px;

      @include breakpoint(1080 down) {
        padding-right: 5rem;
      }

      @include breakpoint(large down) {
        padding-right: 3rem;
      }

      @include breakpoint(tablet down) {
        padding-right: 0;
      }
    }

    h5 {
      margin: 1rem 0 0;
      text-align: center;
      font: {
        style: italic;
        size: rem-calc(14);
      }
    }

    form {
      padding-top: 0.75rem;

      input:not([type=submit]) {
        border: none;
        box-shadow: none;
        background: $clear;
        border-bottom: solid 1px $white;
        text-transform: uppercase;
        letter-spacing: 2px;
        caret-color: $white;
        color: $white;
        padding-left: 0;
        margin-bottom: 1.5rem;
        font: {
          size: rem-calc(13);
          style: italic;
          weight: 700;
        }

        &::-webkit-input-placeholder {
          color: $white;
          letter-spacing: 4px;
        }

        &:-moz-placeholder {
          color: $white;
          letter-spacing: 4px;
          opacity: 1;
        }

        &::-moz-placeholder {
          color: $white;
          letter-spacing: 4px;
          opacity: 1;
        }

        &:-ms-input-placeholder {
          color: $white;
          letter-spacing: 4px;
        }
      }

      span.wpcf7-not-valid-tip {
        text-align: center;
        position: relative;
        top: -1rem;
        background: $white;
        padding: 5px 0 3px;
        border-radius: 3px;
      }

      div.wpcf7-validation-errors,
      div.wpcf7-acceptance-missing {
        border-color: red;
      }
    }

    .file {
      display: none;

      a {
        font-weight: 700;
      }
    }
  }

  section.centered-list {
    padding: 8rem 0;

    .content {
      text-align: center;

      h2 {
        color: $blue;
        margin-bottom: 2rem;
        display: inline-block;
        line-height: 0.85;
        border-bottom: solid 1px $blue;
        text-shadow:
           4px  4px $white,
           4px -4px $white,
          -4px  4px $white,
          -4px -4px $white;
      }

      ul {
        margin: 0;
        padding: 1rem 0 0.15rem;
        list-style: none;
        background: {
          size: contain;
          repeat: no-repeat;
          position: 53% center;
        }

        li {
          margin-bottom: 2rem;
          letter-spacing: 5px;
          text-transform: uppercase;
          font: {
            style: italic;
            size: 1rem;
          }
        }
      }
    }
  }

  section.image-tiles {
    background: $gray;
    padding: 3.5rem 0;
    text-align: center;

    h2 {
      color: $white;
      display: inline-block;
      line-height: 0.85;
      border-bottom: solid 1px $white;
      text-shadow:
        4px  4px $gray,
        4px -4px $gray,
        -4px  4px $gray,
        -4px -4px $gray;
    }

    .image-tiles {
      padding-top: 4rem;

      .column {
        margin-bottom: 3.5rem;

        .tile {
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  section.testimonials {
    padding: 7rem 0 5rem;

    .slider {
      margin-bottom: 3rem;

      .content {
        text-align: center;
        margin-bottom: 0.5rem;
        display: flex !important;
        align-items: center;

        h5 {
          display: inline;
          line-height: 1;
          color: $blue;
          font: {
            style: italic;
            size: rem-calc(45);
          }
        }

        p {
          display: inline;
          font-style: italic;
          line-height: 2.1;
        }
      }

      .slick-slide {
        height: auto;
      }

      ul.slick-dots {
        li {
          width: 30px;
          height: 2px;

          button {
            width: 30px;
            height: 2px;
            padding: 0;
            background: #BBBBBB;

            &::before {
              display: none;
            }
          }

          &.slick-active {
            button {
              background: $blue;
            }
          }
        }
      }
    }

    .cta {
      padding: 2rem 0;
      text-align: center;
    }
  }
}

