nav.top-bar {
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 98;

  .top-bar-row {
    @include flex;
    @include grid-row();
    width: 100%;
    align-items: center;
  }

  @include breakpoint(tablet down) {
    top: $titlebar-height;

    .top-bar-right {
      flex: 1;

      .menu-items {
        background: darken($blue, 6%);

        > li {
          > a {
            color: $white;
            text-transform: uppercase;
            padding: 1.25rem 1rem;
            letter-spacing: 3px;
            font: {
              weight: 700;
              size: rem-calc(15);
            }

            small {
              margin-right: 0.5rem;
            }
          }

          &:first-child a {
            padding-top: 2rem;
          }

          &:last-child a {
            padding-bottom: 2rem;
          }
        }
      }
    }
  }

  // Styles for $topbar-breakpoint and up should go here
  @include breakpoint($topbar-breakpoint) {
    height: $topbar-height;

    .top-bar-row {
      .menu-items {
        > li {
          > a {
            position: relative;
            line-height: calc(#{$topbar-height} - 1px);
            padding: $topbar-padding;
            color: $white;
            text-transform: uppercase;
            letter-spacing: 3px;
            font: {
              weight: 700;
              size: rem-calc(12);
            }

            small {
              position: relative;
              margin-right: 6px;
              top: -3px;
            }

            &::before {
              content: '';
              transition: 0.2s;
              display: block;
              height: 2px;
              width: calc(100% - 2.4rem);
              background: $blue;
              position: absolute;
              top: 0;
              left: 1.2rem;
            }

            &:hover::before {
              background: $white;
            }
          }

          &.current-menu-item a {
            &::before {
              content: '';
              display: block;
              height: 2px;
              width: calc(100% - 2.4rem);
              background: $white;
              position: absolute;
              top: 0;
              left: 1.2rem;
            }
          }
        }
      }

      .menu-logo {
        > li {
          > a {
            padding: 0;
            margin: $topbar-padding;

            img {
              height: rem-calc(33);
            }
          }
        }
      }
    }
  }
}

nav.title-bar {
  padding: $titlebar-padding;
  height: $titlebar-height;
  position: fixed;
  width: 100%;
  z-index: 99;

  .title-bar-left {
    flex: 1;

    a.nav-logo {
      display: inline-block;

      img {
        height: rem-calc(30);
      }
    }
  }

  .title-bar-right {
    flex: 0;

    .menu {
      // HAMBURGER MENU ICON
      //////////////////////

      $bar-width: 30px;
      $bar-height: 1px;
      $bar-spacing: 9px;
      $bar-color: $white;
      $transition-speed: 0.25s;

      li.hamburger-menu {
        width: $bar-width;
        height: $bar-height + $bar-spacing*2;
        cursor: pointer;
        position: relative;
        margin: 0;

        .bar,
        .bar:after,
        .bar:before {
          height: $bar-height;
        }

        .menu-icon-bkg {
          height: $topbar-height;
          float: right;
          width: 40px;
          position: relative;

          @include breakpoint(medium down) {
            width: 120px;
          }

          @include breakpoint(small only) {
            width: 80px;
          }
        }

        .bar {
          transform: translateY($bar-spacing);
          background: $bar-color;
          width: $bar-width;
          transition: all 0ms $transition-speed;

          &.animate {
            background: rgba(255, 255, 255, 0);
          }

          &::before,
          &::after {
            content: "";
            position: absolute;
            left: 0;
            background: $bar-color;
          }

          &::before {
            bottom: $bar-spacing;
            width: $bar-width;
            transition: bottom $transition-speed $transition-speed cubic-bezier(0.23, 1, 0.32, 1), transform $transition-speed cubic-bezier(0.23, 1, 0.32, 1);
          }

          &::after {
            top: $bar-spacing;
            width: $bar-width;
            transition: top $transition-speed $transition-speed cubic-bezier(0.23, 1, 0.32, 1), transform $transition-speed cubic-bezier(0.23, 1, 0.32, 1);
          }

          &.animate {
            &::before {
              bottom: 0;
              width: $bar-width;
              transform: rotate(-45deg);
              transition: bottom $transition-speed cubic-bezier(0.23, 1, 0.32, 1), transform $transition-speed $transition-speed cubic-bezier(0.23, 1, 0.32, 1);
            }

            &::after {
              top: 0;
              transform: rotate(45deg);
              transition: top $transition-speed cubic-bezier(0.23, 1, 0.32, 1), transform $transition-speed $transition-speed cubic-bezier(0.23, 1, 0.32, 1);
            }
          }
        }
      }
    }
  }
}

// Fixes the split-second flicker of the title bar on desktop
// You may need to adjust the breakpoints for your project
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

// Drop Shadow
.shadow {
  position: fixed;
  z-index: 97;
  top: $topbar-height;
  width: 100%;
  box-shadow: 0 0 110px 30px rgba($black, 0.66);

  @include breakpoint(tablet down) {
    top: $titlebar-height;
    box-shadow: 0 0 45px 13px rgba($black, 0.66);
  }
}
