main.pricing {
	section.pricing-guidelines {
    padding: 9rem 0;

    @include breakpoint(mini down) {
      padding: 5rem 0;
    }

    .cta {
      text-align: center;
      padding: 4rem 0;
    }
  }
}
