main.process {
  section.our-process {
    padding: 9rem 0;

    @include breakpoint(mini down) {
      padding: 5rem 0;
    }

    .images {
      img {
        margin-bottom: 1rem;
      }
    }

    .content-ready {
      @include breakpoint(mini down) {
        margin-top: 1rem;
      }
    }

    .cta {
      @include breakpoint(medium down) {
        text-align: center;
      }
    }
  }
}
