* { outline: none }
main.site {
  position: relative;
  padding-top: $topbar-height;

  @include breakpoint(tablet down) {
    padding-top: $titlebar-height;
  }

  h1.page-heading {
    color: $blue;
    text-align: center;
    font-size: rem-calc(38);
    font-style: italic;
    margin-bottom: 3.5rem;
    display: inline-block;
    line-height: 0.85;
    border-bottom: solid 1px $blue;
    text-shadow:
      4px  4px $white,
      4px -4px $white,
      -4px  4px $white,
      -4px -4px $white;
  }

  h2 {
    font: {
      size: rem-calc(38);
      style: italic;
    }
  }

  h3 {
    font: {
      size: rem-calc(23);
      style: italic;
    }
  }

  .content-ready {
    img {
      margin-bottom: 1rem;
    }

    p {
      line-height: 1.3;
      font: {
        style: italic;
        size: rem-calc(18);
      }

      &.blue {
        color: $blue;
        font-weight: 700;
        margin: 0;
      }

      a {
        font-weight: 700;
      }
    }

    h4, h5 {
      color: $blue;
      display: inline;
      letter-spacing: 2px;
      text-transform: uppercase;
      font: {
        family: $nova;
        size: rem-calc(18);
        weight: 700;
      }
    }

    .copy {
      &--right {
        &, p:first-child {
          display: inline;
        }

        p {
          margin: 1rem 0;
        }
      }
    }

    h4 {
      display: block;
      margin: 2rem 0 0.75rem;
    }

    ul {
      margin: 0 0 2rem;
      list-style: none;

      li {
        position: relative;
        font: {
          size: rem-calc(18);
          style: italic;
        }

        i.fa {
          position: absolute;
          top: 1px;
          left: 0;
          color: $blue;
          font-size: rem-calc(20);
        }
      }

      &.processes {
        padding: 1rem 0;
        margin-left: 1.5rem;

        li {
          padding-left: 0.75rem;
          margin-bottom: 1rem;
        }
      }
    }
  }

  .content-main {
    font: {
      size: rem-calc(18);
      style: italic;
    }

    h3 {
      color: $blue;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 3rem 0 1.5rem;
      font: {
        family: $nova;
        style: normal;
        size: rem-calc(18);
        weight: 700;
      }
    }

    p {
      line-height: 1.3;
      margin-bottom: 1.25rem;

      strong, b {
        display: block;
      }
    }

    hr {
      display: inline-block;
      width: 90px;
      border-color: $blue;
      margin-bottom: 0.5rem;
    }

    ul {
      list-style: none;
      margin: -1rem 0 1.5rem 3rem;

      li {
        position: relative;
        padding-left: 1.25rem;

        &::before {
          content: '—';
          position: absolute;
          left: 0;
        }
      }
    }
  }

  section.banner-image {
    height: 360px;
    background: {
      size: cover;
      position: center;
    }

    @include breakpoint(tablet down) {
      height: 300px;
    }

    @include breakpoint(mini down) {
      height: 200px;
    }
  }

  .wpcf7-response-output {
    text-align: center;
    padding: 0.5rem;
    font-style: italic;
    font-size: rem-calc(18);

    &.wpcf7-mail-sent-ok {
      border-color: $white;
    }
  }
}
