main.work {
	section.our-work {
    padding: 9rem 0;

    @include breakpoint(mini down) {
      padding: 5rem 0;
    }

    .products {
      padding: 5rem 0;

      .meta {
        padding-left: 12%;

        p {
          line-height: 1.3;
          font: {
            style: italic;
            size: rem-calc(18);
          }

          &.blue {
            color: $blue;
            font-weight: 700;
            margin: 0;
          }
        }
      }

      .images {
        text-align: center;

        img {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
