// Media query to show full menu
$topbar-breakpoint: large;

// Medium grid gutter width
$medium-gutter-width: map-get($grid-column-gutter, 'medium') / 2;

// Small grid gutter width
$small-gutter-width: map-get($grid-column-gutter, 'small') / 2;

// Height of topbar at $topbar-breakpoint and up.
$topbar-height: rem-calc(80);

// Reset the default $topbar-padding value.
$topbar-padding: 0 1.2rem;

// Height of title bar below $topbar-breakpoint.
$titlebar-height: rem-calc(50);

// Reset the default $titlebar-padding value.
$titlebar-padding: 0 $small-gutter-width;
