<!--
Import into your main JS Vue file
import ZurbPagination from '../components/ZurbPagination.vue';

Use this component in your template, and pass in the required props
<zurb-pagination
  @paginate="yourPaginationMethod"
  :pages="yourTotalPages"
  :current="yourCurrentPage">
</zurb-pagination>
-->

<template>
  <nav aria-label="Pagination" v-if="data.pages > 1">
    <ul class="pagination">
      <li
      class="pagination-previous"
      :class="{ 'disabled': isCurrent(1) }">
        <span v-if="isCurrent(1)"></span>

        <a
        aria-label="Previous page"
        @click="goToPage(--data.current)"
        v-else>
        </a>
      </li>

      <li
      :class="{ 'current': isCurrent(page)}"
      v-for="page in getPages()">
        <span v-if="isCurrent(page)">
          {{ page }}
        </span>

        <a
        @click="goToPage(page)"
        v-else>{{ page }}</a>
      </li>

      <li
      class="pagination-next"
      :class="{ 'disabled': isCurrent(data.pages) }">
        <span v-if="isCurrent(data.pages)"></span>

        <a
        aria-label="Next page"
        @click="goToPage(++data.current)"
        v-else>
        </a>
      </li>
    </ul>
  </nav>
</template>

<script>
  export default {
    props: {
      data: {
  			type: Object,
  			default: function() {
  				return {
  					current: 1,
  					pages: 0
  				}
  			}
  		}
    },
    methods: {
      goToPage: function(page) {
        if (page === '...') {
  				return;
  			}

        this.$emit('paginate', parseInt(page));
      },

      isCurrent(page) {
        return parseInt(this.data.current) == parseInt(page);
      },

      getPages: function() {
  			var current = this.data.current,
  				last  = this.data.pages,
  				delta = 1,
  				left  = current - delta,
  				right = current + delta + 1,
  				range = [],
  				pages = [],
  				l;

  			for (var i = 1; i <= last; i++) {
  				if (i == 1 || i == last || (i >= left && i < right)) {
  					range.push(i);
  				}
  			}

  			range.forEach(function (i) {
  				if (l) {
  					if (i - l === 2) {
  						pages.push(l + 1);
  					} else if (i - l !== 1) {
  						pages.push('...');
  					}
  				}
  				pages.push(i);
  				l = i;
  			});

  			return pages;
  		}
    },
  }
</script>
